---
import Base from '../layouts/Base.astro';
---

<Base title="mtdnot">
  <article>
    <h1>mtdnot</h1>
    
    <p>
      こんにちは、私はmtdnotと名乗っているものです。<br>
      私が会津大学の学部生です。<br>
      私が何を何のためにしているかについて紹介したいと思います。
    </p>
    
    <h2>目的</h2>
    
    <h3>震災による被害を最小限にすること</h3>
    <p>特に南海トラフ大震災の前兆を捉えることを目標としています。</p>
    
    <h3>経緯</h3>
    <p>
      経緯を話せば、私の出身地から話すことになります。<br>
      私は三重県生まれ、三重育ちです。大学進学に伴い、福島県に転居しました。
    </p>
    <p>会津大学を選んだ理由は、二つあります。</p>
    <ul>
      <li>コンピュータに強いこと</li>
      <li>福島県が東日本大震災で大きな被害を受けていたこと</li>
    </ul>
    <p>
      おそらく気になるのは後者ではないでしょうか。私は防災や復興に関する取り組みに興味があります。そのため、この土地を選びました。
    </p>
    <p>
      なぜ防災に興味があるのかと言われれば、私の大切な人が死ぬのを恐れているからです。三重県は地理的に南海トラフ地震の危険性が何度も警告されている場所です。それが一つの大きな理由にもなっているでしょう。
    </p>
    
    <h2>未知の現象を探究すること</h2>
    <p>
      私は元々、物理学の研究者になりたいと思っていました。宇宙の成り立ちに興味がありました。特に超弦理論は憧れでした。ここだけの話ですが、ドラマのガリレオにハマって京都大学を目指していた時期もありました。
    </p>
    <p>
      物理に限らず、研究活動そのものに興味がありました。研究と言わずとも、何かを探究し続けることが楽しいと思います。
    </p>
    
    <h2>お金を稼ぐこと</h2>
    <p>
      自分で言うのもなんですが、不便のない生活をしています。車はないし、部屋も広いとは言えませんが、飢え死にしかけることはあまりありません。ですが、上記の目標に近づくためには少なくないお金がかかります。プロジェクトを維持し続けるお金が必要です。
    </p>
    
    <h2>活動</h2>
    <p>長々と私の話を語ってしまいました。次に何をしているか簡単に紹介します。</p>
    <ul>
      <li>地震準備過程は観測可能な物理的・統計的痕跡を残すか/電離圏電子密度の遷移の研究</li>
      <li>EPS(Earthquake Prediction System)の開発</li>
      <li>MAS (Multi Agent System) の研究/複数のエージェントを動作させ、自律の基盤を整えることで開発や研究に利用する</li>
      <li>MASを用いたプロダクトのビジネス転用/受注開発/インターン（バイト）</li>
    </ul>
    
  </article>
</Base>
